<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<div th:fragment="sidebar" class="sidebar sidebar-dark bg-dark">
    <ul class="list-unstyled">
        <li><a th:href="@{/user}"><i class="fa fa-fw fa-link"></i>Users</a></li>
        <li><a th:href="@{/role}"><i class="fa fa-fw fa-link"></i>Roles</a></li>
        <li><a th:href="@{/category}"><i class="fa fa-fw fa-link"></i>Categories</a></li>
        <li><a th:href="@{/brand}"><i class="fa fa-fw fa-link"></i>Brands</a></li>
        <li><a th:href="@{/product}"><i class="fa fa-fw fa-link"></i>Products</a></li>
        <li><a th:href="@{/order}"><i class="fa fa-fw fa-link"></i>Orders</a></li>
    </ul>
</div>

</html>