<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header.html :: head"/>

<body class="bg-light">

<nav th:replace="fragments/header.html :: header"/>

<div class="d-flex">

    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Blank/Starter</h2>

        <div class="card mb-4">
            <div class="card-body">
                <div class="container">
                    <div class="row py-2">
                        <div class="col-12">
                            <a class="btn btn-primary" th:href="@{/brand/new}">Добавить Бренд</a>
                        </div>

                        <div class="col-12">
                            <table class="table table-bordered my-2">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Brand</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:unless="${brands.isEmpty()}" th:each="brand : ${brands}">
                                    <td th:text="${brand.id}">1</td>
                                    <td th:text="${brand.name}">Guest</td>
                                    <td>
                                        <a class="btn btn-success"
                                           th:href="@{/brand/{id}(id = ${brand.id})}"><i class="fas fa-edit"></i></a>
                                        <form
                                              class="d-inline" th:method="delete" th:action="@{/brand/{id}(id = ${brand.id})}">
                                            <button type="submit" class="btn btn-danger"><i
                                                    class="far fa-trash-alt"></i></button>
                                        </form>
                                    </td>
                                </tr>

                                <tr th:if="${brands.isEmpty()}">
                                    <td colspan="4">No data</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts"/>

</body>
</html>