<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: head"/>

<body class="bg-light">

<nav th:replace="fragments/header.html :: header"/>

<div class="d-flex">

    <div th:replace="fragments/sidebar.html :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Blank/Starter</h2>

        <div class="card mb-4">
            <div class="card-body">
                This is a blank page you can use as a starting point.
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/footer.html :: scripts"/>

</body>
</html>